@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

.container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}

.grid-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  grid-gap: 1em;
}
